body {
  font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{ 
  width :100% ; 
  height : 100%;   
}
#col1{ float : left ; width : 300px ;  height :100% ;position :fixed ;      }
.col2 { float :left ; background-color : transparent ; width :70%;  margin-left :400px ; display : flex ; justify-content:space-evenly;}
.Title{
  float : left ;
  width :200px; 
  font-size: 25px;   
  font-weight: 400 ; 
  background-color: none  ; 
  margin: 10px;
}
.SearchBar{
  font-size : 20px ; 
  outline: none;
  border : 0; 
  border-bottom: 1px solid;
  margin : 10px; 
}

.handy:hover
{
    cursor: pointer;
    background-color: aliceblue;
}
.DropDown{
  outline :none ; 
  font-size: 20px; 
  border : 0 ; 
  border-bottom: 1px solid ; 
}
ul{ 
  decoration:none ; 
  list-style-position: 0;
}
ul li{
  list-style: none;
}

.Tab{
  width: 420px; 
  height :250px; 
  padding: 10px;
  margin:10px; 
  background-color:white ; 
}
.BoxShadow
{
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.logo { 
  width:auto;
  height: 50px;
  max-width:300px ; 
}
